<nav id="navbar">
    <div class="nav-wrapper">
        <a a routerLink="/home" class="brand-logo"><i class="material-icons left">airplay</i> PCInstance</a>
        <ul class="right hide-on-med-and-down">
            <li>
                <form>
                    <div class="input-field">
                        <input id="search" (keydown.enter)="moveToSearch()" [(ngModel)]="searchValue" name="searchValue" type="search" required placeholder="I'm shopping for..."
                            autocomplete="off">
                        <label for="search"><i class="material-icons icon-white">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </li>         
            <li><a routerLink="/cart"><i class="material-icons left">shopping_cart</i>Cart</a></li>
            <li><a routerLink="/registration"><i class="material-icons left">add</i>Signup</a></li>
            <li><a routerLink="/login"><i class="material-icons left">input</i>Login</a></li>
        </ul>
    </div>
</nav>