<div class="row">
  <button *ngIf="!visibilityAddNewUser" class="btn btn-custom-color waves-effect waves-light gin-top-25col s3" (click)="onAddNewUserClick()">Add new user
      <i class="material-icons right">send</i>
  </button>
  <form *ngIf="visibilityAddNewUser" #addNewUserForm="ngForm" (ngSubmit)="addUser(); addNewUserForm.reset()">
    <div class="row">
      <div class="input-field col s3">
        <input autocomplete="off" id="username" type="text" [(ngModel)]="username" name="title" class="validate">
        <label for="username">Username</label>
      </div>
      <div class="input-field col s3">
        <input autocomplete="off" id="password" type="password" [(ngModel)]="password" name="password" class="validate">
        <label for="password">Password</label>
      </div>
      <div class="input-field col s3">
        <input autocomplete="off" id="email" type="email" [(ngModel)]="email" name="email" class="validate">
        <label for="email" data-error="Wrong email" data-success="Email valid">Email</label>
      </div>
      <div class="input-field col s3">
        <input autocomplete="off" id="first_name" [(ngModel)]="firstName" name="firstName" type="text" class="validate">
        <label for="first_name">First name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s3">
        <input autocomplete="off" id="last_name" type="text" [(ngModel)]="lastName" name="lastName" class="validate">
        <label for="last_name">Last name</label>
      </div>
      <div class="input-field col s3">
        <input autocomplete="off" id="country" type="text" [(ngModel)]="country" name="country" class="validate">
        <label for="country">Country</label>
      </div>
      <div class="input-field col s3">
        <input autocomplete="off" id="city" type="text" [(ngModel)]="city" name="city" class="validate">
        <label for="city">City</label>
      </div>
      <div class="input-field col s3">
        <input autocomplete="off" id="adress" type="text" [(ngModel)]="address" name="address" class="validate">
        <label for="adress">Address</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s3">
        <input autocomplete="off" id="postal_code" type="text" [(ngModel)]="postalCode" name="postalCode" class="validate">
        <label for="postal_code">Postal code</label>
      </div>
      <div class="input-field col s3">
        <input autocomplete="off" id="credit_card_number" type="text" [(ngModel)]="creditCardNumber" name="creditCardNumber" class="validate">
        <label for="credit_card_number">Credit card number</label>
      </div>
      <div class="input-field col s3">
        <select materialize="material_select" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedUserRole">
            <option *ngFor="let user of userFilter" [ngValue]="user"> {{user.filter}} </option>
        </select>
      </div>
      <button class="btn btn-custom-color waves-effect waves-light margin-custom-submit col s1" type="submit" name="action">Submit
          
      </button>
      <a class="btn btn-custom-color waves-effect waves-light margin-top-25 col s1" (click)="visibilityAddNewUser=false" name="action">Cancel</a>
    </div>
  </form>
</div>
<div class="row">
  <table class="striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Email</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Country</th>
        <th>City</th>
        <th>Address</th>
        <th>Postal code</th>
        <th>Credit card number</th>
        <th>Role</th>
        <th>Options</th>
      </tr>
    </thead>

    <tbody *ngFor="let user of users; let i = index" [attr.data-index]="i">
      <tr>
        <td>
          <span *ngIf="i != editUserIndex" from="user_name">{{user.username}}</span>
          <input *ngIf="i == editUserIndex " type="text" id="user_name_2" [(ngModel)]="user.username">
        </td>
        <td>
          <span *ngIf="i != editUserIndex" from="user_password">{{user.password}}</span>
          <input *ngIf="i == editUserIndex " type="text" id="user_password_2" [(ngModel)]="user.password">
        </td>
        <td>
          <span *ngIf="i != editUserIndex" from="user_email">{{user.email}}</span>
          <input *ngIf="i == editUserIndex " type="text" id="user_email_2" [(ngModel)]="user.email">
        </td>
        <td>
          <span *ngIf="i != editUserIndex" from="user_firstName">{{user.firstName}}</span>
          <input *ngIf="i == editUserIndex " type="text" id="user_firstName_2" [(ngModel)]="user.firstName">
        </td>
        <td>
          <span *ngIf="i != editUserIndex" from="user_lastName">{{user.lastName}}</span>
          <input *ngIf="i == editUserIndex " type="text" id="user_lastName_2" [(ngModel)]="user.lastName">
        </td>
        <td>
          <span *ngIf="i != editUserIndex" from="user_country">{{user.country}}</span>
          <input *ngIf="i == editUserIndex " type="text" id="user_country_2" [(ngModel)]="user.country">
        </td>
        <td>
          <span *ngIf="i != editUserIndex" from="user_city">{{user.city}}</span>
          <input *ngIf="i == editUserIndex " type="text" id="user_city_2" [(ngModel)]="user.city">
        </td>
        <td>
          <span *ngIf="i != editUserIndex" from="user_address">{{user.address}}</span>
          <input *ngIf="i == editUserIndex " type="text" id="user_address_2" [(ngModel)]="user.address">
        </td>
        <td>
          <span *ngIf="i != editUserIndex" from="user_postalCode">{{user.postalCode}}</span>
          <input *ngIf="i == editUserIndex " type="text" id="user_postalCode_2" [(ngModel)]="user.postalCode">
        </td>
        <td>
          <span *ngIf="i != editUserIndex" from="user_creditCardNumber">{{user.creditCardNumber}}</span>
          <input *ngIf="i == editUserIndex " type="text" id="user_creditCardNumber_2" [(ngModel)]="user.creditCardNumber">
        </td>
        <td>
          <div *ngIf="isEditMode && i == editUserIndex">
            <select materialize="material_select" [(ngModel)]="selectedUserRole" (ngModelChange)="onUserRoleChange(user)">
              <option *ngFor="let user of userFilter" [ngValue]="user" id="user_role"> {{user.filter}} </option>
            </select>
          </div>
          <span *ngIf="i != editUserIndex" from="user_userRole">{{user.userRole}}</span>
        </td>
        <td>
          <span>
              <a class="clicable" (click)="deleteUser(user._id)"><i class="material-icons">delete_forever</i></a>
              <a class="clicable" *ngIf="!isEditMode || i != editUserIndex" (click)="editMode(i, true, user)"><i class="material-icons">mode_edit</i></a>
              <a class="clicable" *ngIf="isEditMode && i == editUserIndex" (click)="editMode(i, false, user); updateUser(user)"><i class="material-icons">done</i></a>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>