<div class="product-list">
    <div class="row">
        <form class="col s12" (ngSubmit)="addProduct()">
            <div class="row">
                <div class="input-field col s3">
                    <input id="product_title" type="text" class="validate" data-length="10" [(ngModel)]="title" name="title" autocomplete="off">
                    <label for="product_title">Product title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s3">
                    <input id="product_price" type="text" class="validate" data-length="6" [(ngModel)]="price" name="price" autocomplete="off">
                    <label for="product_price">Product price</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s3">
                    <select class="browser-default" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedProductAddFilter">
                        <option *ngFor="let product of productFilter" [ngValue]="product"> {{product.filter}} </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s3">
                    <button class="btn waves-effect waves-light" type="submit">Submit
                    <i class="material-icons right">send</i>
                </button>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col s12 m4" *ngFor="let product of products; let i = index" [attr.data-index]="i">
            <div class="card">
                <div *ngIf="!isEdit || i != editProduct" class="card-image">
                    <img src="../../../../../assets/images/products/titanz.png">
                </div>
                <div class="card-content">
                    <span *ngIf="!isEdit || i != editProduct" from="product_title" class="white-text left-align">{{product.title}}</span>
                    <span *ngIf="!isEdit || i != editProduct" from="product_price" class="white-text right-align">{{product.price}}</span>
                    <div *ngIf="isEdit && i == editProduct">
                        <div class="input-field">
                            <input type="text" id="product_title" [(ngModel)]="product.title" class="white-text left-align col s6">
                            <input type="text" id="product_price" [(ngModel)]="product.price" class="white-text right-align col s6">
                            <select class="browser-default" [(ngModel)]="selectedProductFilter" (ngModelChange)="onProductFilterChange(product)">
                                <option *ngFor="let product of productFilter" [ngValue]="product" id="product_state"> {{product.filter}} </option>
                            </select>
                        </div>
                    </div>
                    <a *ngIf="!isEdit || i != editProduct" class="margin-top-bottom waves-effect waves-light btn btn-custom" (click)="onEditProductClick(i,product,true)">Edit</a>
                    <a *ngIf="!isEdit || i != editProduct" class="waves-effect waves-light btn btn-custom" (click)="deleteProduct(product._id)">Delete</a>
                    <a *ngIf="isEdit && i == editProduct" class="margin-top-bottom waves-effect waves-light btn btn-custom" (click)="updateProduct(product, false)">Save</a>
                    <a *ngIf="isEdit && i == editProduct" class="waves-effect waves-light btn btn-custom" (click)="cancelUpdateProduct(product, false)">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>