.product-list {
    margin-top: 15px;
}

.card-content {
    background-color: #ee6e73;
    height: 100%;
}

.btn-small {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
}

.btn-custom {
    background-color: rgba(166, 11, 11, 0.48);
    width: 100%;
}

.left-align {
    display: block;
    float: left;
    width: 50%;
}

.right-align {
    display: block;
    float: right;
    width: 50%;
}

.card.small .card-image+.card-content, .card.medium .card-image+.card-content, .card.large .card-image+.card-content {
    max-height: 46%;
}

.margin-top-bottom {
    margin: 10px 0 10px 0;
}

.btn-custom-color {
    background-color: #CC3F41;
}

.margin-top {
    margin-top: 10px
}