<div class="product-list">
    <div class="row">
        <div class="input-field col l2">
            <select class="browser-default" [(ngModel)]="selectedProductFilter" (ngModelChange)="onChange($event)">
                <option *ngFor="let product of productFilter" [ngValue]="product"> {{product.filter}} </option>
            </select>
        </div>
        <div class="col m8" style="width: 100%"></div>
        <div class="col s12 m4" *ngFor="let product of (productService.productItems | productFilter:keyword)">
            <div class="card small">
                <div class="card-image">
                    <img src="../../../assets/images/products/titanz.png">
                </div>
                <div class="card-content">
                    <span from="product_title" class="white-text left-align">{{product.title}}</span>
                    <span from="product_price" class="white-text right-align">{{product.price}}</span>
                    <a class="waves-effect waves-light btn btn-custom" onclick="Materialize.toast('Product added to cart!', 4000)" (click)="addToCart(product.title, product.price)">Add To Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>